body{
	background-color: #EEEEEE;
	margin: 0;
	padding: 0;

}
*{
	font-family: 'Dosis', sans-serif;
}

a{
	color: #000;

}
a:hover{
	text-decoration: none;
	color: #3a3a3a;
}

/*navbar css*/
.navbar{
	background-color: #3a3a3a;
}

.nav-link{
	text-transform: capitalize;
	font-weight: 500!important;
	color: #fff;
	letter-spacing: 1px;
	padding-right: 30px !important;
	font-size: 20px;

}
.nav-link:hover{
	color: orangered;
}

/*logo*/

#logo{
	color: orangered;
}

.logo a{
	font-family: 'Fira Sans', sans-serif;
	font-size: 26px;
	font-weight: 900;
	letter-spacing: 4px; 
	color: #fff;

}

/*img post*/
.blog-img-left,.blog-img-right{
	margin-top: 30px;
	font-size: 20px;

}
/*image hover*/
.img-effact{
	overflow: hidden;
}
.image-hover img{
	background-color: #fff;
cursor: pointer;
-webkit-transition:0.4s ease;
transition: 0.4s ease;

}
.img-effact:hover .image-hover img{
	-webkit-transform:scale(1.08);
	-transform: scale(1.08);
}
/*blog list*/
.blog-list{
	background-color: #fff;
	margin-top: 20px;

}
/*blog detail*/
.blog-detail{
	padding: 20px 10px;

}
#papulor{
	background-color:tomato;
}
/*post date*/
.post-date{
	letter-spacing: 1px;
	color:#898989;
	font-size: 10px;
}
/* post title*/
.post-title{
padding-top: 5px;
letter-spacing: 1px;
font-size: 18px;
font-weight: 700;
color: #000;
text-transform: capitalize;
}

.post-title-f{
	padding-top: 2px;
	letter-spacing: 1px;
	font-size: 25px;
	font-weight: 700;
	color: #000;
	text-transform: capitalize;
}
/*post dis*/
.post_description{
	padding-top: 5px;
	letter-spacing: 1px;
	color: #898989;
	font-size: 14px;
}

/*other */

.post-other{
	text-align: center;
	margin-top: 5px;
	letter-spacing: 1px;
	font-size: 15px;
	border-top: 2px solid orangered;
}
.post-other a{
	color: orangered;
	padding-top: 5px;
	display: inline-block;
	padding-left: 8px;
	padding-right: 8px;

}

/*subscribe*/
.subscribe{
	padding: 50px;
	text-align: center;
	background-color: #fff;
}
.subscribe h2,.subscribe p{
	font-family: 'Fira Sans',sans-serif;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}
.sub-input{
font-family: 'Fira Sans',sans-serif;
	display: flex;
	border-radius: 50px;
	border:1.8px solid #898989;
}
.sub-input input[type=email]{
	padding-left:7px;
	outline: none;
	width: 75%;
	font-family: 'Fira Sans',sans-serif;
	background-color: transparent;
	border:none;
}
.sub-input input[type=submit]{
 
	outline: none;
	font-weight: 600;
	width: 25%;
	font-family: 'Fira Sans',sans-serif;
	background-color: #f8f8f8;
	border:none;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	padding: 10px;

}
/*footer css*/
footer{
	padding: 50px 10px;
	letter-spacing: 1px;
}

#perfil{
	border: 2px solid tomato;
	border-radius: 100%

}
footer h4{
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	
}
footer p{
	font-size: 14px;
	letter-spacing: 1px;
	color: #888888;

}

footer ul{
padding: 0;
	margin:0;	
}
footer li{
	padding: 0;
	margin:0;
}
/*share*/
footer .div-share{
border-top: 1px solid #888888;
}
footer .div-share .footer-share{
	margin-top: 20px;
	margin-left: 7px;
	margin-right: 7px;
	display: inline-block;
	color: #a5a5a5;
	font-size: 18px;
	width: 40px;
	height: 40px;
	justify-content: center;
	text-transform: capitalize;
	text-align: center;
	line-height: 40px;
	border:1px solid #888888;
	border-radius: 100px;
	-webkit-border-radius: 100px;

	-o-border-radius: 100px;
	-moz-border-radius: 100px;

}

footer .div-share .footer-share:hover{
	background-color: #3a3a3a;
}
/*footer bottom*/
.footer-bottom{
	padding: 10px;

	letter-spacing: 1px;
	background-color: #3a3a3a;
	color: #888888;
	font-weight: 600;
}
.footer-bottom a:hover{
	color: lightgrey;
}